:root {
    /* ====== RESET ====== */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

    /* ====== COLORS ====== */
    --lgt-cream: #F5EBD8;
    --drk-green: #545B37;
    --blue: #43859C;
    --yellow: #EFC152;
    --orange: #DC9364;
    --lgt-green: #B0BBA2;

    /* ====== STYLES ====== */
      header {
        background-color: var(--lgt-cream);
        height: 102px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        text-align: center;
        position: sticky;
        top: 0;
        
      }
      

}