.ticker-container {
    width: 100%;
    overflow: hidden;
    background-color: var(--yellow);
    padding: 10px;
    white-space: nowrap;
}

.ticker-content {
    display: inline-block;
    animation: scroll-left 15s linear infinite;
}

.ticker-content span {
    padding-right: 380px;
}









@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}